.contacts {
    padding-top: 74px;
    padding-bottom: 50px;
    background-color: #010101;
    &:focus {
        outline: none;
    }
    &__col {
        text-align: center;
    }
    &__title {
        color: #fcdb00;
        font-family: "PT Sans";
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 14px;
    }
    &__text {
        color: #898989;
        font-family: "PT Sans";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        max-width: 732px;
        margin: 0 auto;
    }
    &__form {
        margin-top: 30px;
        margin-bottom: 62px;
    }
    &__input-wrap {
        margin-top: 10px;
    }
    &__label {
        color: #898989;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        position: absolute;
        pointer-events: none;
        left: 40px;
        top: 16px;
        transition: 0.3s ease all;
    }
    &__input {
        height: 50px;
        padding: 18px 0 16px 24px;
        width: 100%;
        border-radius: 3px;
        border: none;
        &:focus~.contacts__label {
            top: -23px;
            left: 16px;
            font-size: 16px;
            color: #fcdb00;
        }
    }

    &__button-wrap {
        text-align: center;
        margin-top: 10px;
    }
    &__button {
        width: 100%;
        height: 48px;
        border-radius: 3px;
        border: 1px solid #fcdb00;
        background-color: #fcdb00;
        color: #010101;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all .3s ease-in;

        &:hover {
            background-color: #010101;
            color: #fcdb00;
            border: 1px solid #fcdb00;
        }
        &:active {
            background-color: #010101;
            color: #fcdb00;
            border: 1px solid #fcdb00;
            transform: scale(1.1);
            outline: none;
        }
        &:visited {
            border: 1px solid #fcdb00;
            background-color: #fcdb00;
            color: #010101;
        }
        &:focus {
            box-shadow: 0 0 20px rgba(252, 219, 0, 0.9);
            outline:none
        }
    }
}

.social {
    &__ul {
        text-align: center;
        padding: 0;
    }
    &__list {
        display: inline-block;
        text-align: center;
        margin: 16px;
    }
    &__link {
        position: relative;
        background-color: #fcdb00;
        width: 36px;
        height: 36px;
        display: block;
        color: #010101;
        font-size: 26px;
        line-height: 26px;
        border: 1px solid #fcdb00;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        transition: all .3s ease-in;
        &:hover {
            color: #fcdb00;
            background-color: #010101;
            border: 1px solid #fcdb00;
            transform: scale(1.1);
        }
        &:focus {
            color: #fcdb00;
            background-color: #010101;
            border: 1px solid #fcdb00;
            outline: none;
            transform: scale(1.1);
        }
    }
}

.fa {
    position: relative;
}

.fa-facebook {
    top: 11px;
    left: 5px;
}

.fa-twitter {
    top: 5px;
}

.fa-google-plus {
    top: 5px;
}

.fa-pinterest-p {
    top: 10px;
}