@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@font-face {
	font-family: 'Helvetica Neue';
	src: url(../fonts/helveticaneuecyr-bold.otf) format('otf');
}

* {
	font-family: 'Helvetica Neue', 'PT Sans', sans-serif;
}