.to-top {
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 9;
    opacity: 0.5;
    transition: all .3s ease-in;

    &:hover {
        opacity: 1;
    }
    &__b-svg {
        width: 30px;
        height: 30px;
        fill: #fcdb00;
    }
}